auto-install-peers=true
strict-peer-dependencies=false
node-linker=hoisted
public-hoist-pattern[]=*expo*
public-hoist-pattern[]=*react-native*
public-hoist-pattern[]=*reanimated*
public-hoist-pattern[]=*nativewind*
public-hoist-pattern[]=*sentry*
public-hoist-pattern[]=*log-box*
public-hoist-pattern[]=*metro*
